/* PropTypesError */

.container {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: #021233dc;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  margin: 0 auto;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.icon {
  width: 150px;
  height: 150px;
}

.description {
  font-family: Calibri, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
